<h1 class="text-red-500">
  Bienvenido al Sistema de Pagos
</h1>

<p class="text-blue-500 text-lg mb-8 text-center">
  Este es el inicio de tu aplicación desarrollada en Ruby on Rails.
</p>

<div class="text-center">
  <%= link_to "Ir al Login", login_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-semibold py-3 px-6 rounded shadow transition-colors duration-300" %>
</div>
